---
- name: Deploy server
  hosts: hostinger
  vars:
      local_image_path: "{{ playbook_dir }}/../build/integraciones-api-latest.tar"
      local_env_path: "{{ playbook_dir }}/../.env.production"
      local_compose_path: "{{ playbook_dir }}/../docker-compose.yml"
      local_credentials_path: "{{ playbook_dir }}/../credentials/integraciones-coco.json"
      remote_folder: "/home/coco/ServerIntegraciones"

  tasks:
      - name: Send docker-image
        ansible.builtin.copy:
            src: "{{ local_image_path }}"
            dest: "{{ remote_folder }}/{{ image_name }}.tar"
            mode: "0644"

      - name: Send .env
        ansible.builtin.copy:
            src: "{{ local_env_path }}"
            dest: "{{ remote_folder }}/.env"
            mode: "0600"

      - name: Ensure app/credentials directory exists
        ansible.builtin.file:
            path: "{{ remote_folder }}/credentials"
            state: directory
            mode: "0755"
            owner: "{{ ansible_user }}"
            group: "{{ ansible_user }}"

      - name: Send GCP Credentials
        ansible.builtin.copy:
            src: "{{ local_credentials_path }}"
            dest: "{{ remote_folder }}/credentials/integraciones-coco.json"
            mode: "0600"

      - name: Send docker compose file
        ansible.builtin.copy:
            src: "{{ local_compose_path }}"
            dest: "{{ remote_folder }}/docker-compose.yml"
            mode: "0600"

      - name: Load docker-image
        ansible.builtin.command:
            cmd: "docker load -i {{ remote_folder }}/{{ image_name }}.tar"
        register: load_result
        changed_when: "'Loaded image' in load_result.stderr"

      - name: Ensure logs directory exists and has correct permissions
        ansible.builtin.file:
            path: "{{ remote_folder }}/logs"
            state: directory
            mode: "0755"
            owner: "{{ ansible_user }}"
            group: "{{ ansible_user }}"
            recurse: true

      - name: Run container
        ansible.builtin.command:
            cmd: "docker compose up -d"
            chdir: "{{ remote_folder }}"
        register: run_result
        changed_when: "'Creating' in run_result.stdout or 'Recreating' in run_result.stdout"

      - name: Clean docker
        ansible.builtin.command:
            cmd: "docker system prune -a -f"
        register: clean_result
        changed_when: "'Total reclaimed space' in clean_result.stdout"
